@font-face {
  font-display: swap;
  font-family: 'Vodafone';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/vodafone-light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Vodafone';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/vodafone-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Vodafone';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/vodafone-bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Vodafone';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/vodafone-extra-bold.woff') format('woff');
}
